*{
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    margin: 4rem 0;
    text-transform: uppercase;
    text-align: center;
}

.ingrediente {
    align-items: center;
    border-bottom: solid 1px #0001;
    display: flex;
    padding: 2rem;
}

.ingrediente img {
    height: 5rem;
}

.ingrediente p {
    margin-left: 1rem;
}
